<div id='chat_messages'>
  <% @chat_messages.each do |chat_message| %>
    <div><%= chat_message.body %></div>
  <% end %>
</div>

<form>
  <label>
    発言する: <input type="text" data-behavior="speak_chat_messages">
  </label>
</form>
